*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-image: linear-gradient(to right, rgb(248, 220, 171), rgb(241, 234, 221), rgb(248, 220, 171));
}

h1 {
    text-decoration: none !important;
}

canvas {
    border: 2px solid black;
}

.container {
    display: flex;
    width: 100%;
    /* border: 1px solid #000; */
}

.child {
    flex: 1; /* This makes both children take up equal space */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.child-l {
    flex: 1; /* This makes both children take up equal space */
    padding: 20px;
    box-sizing: border-box;
    /* text-align: center; */
}
